@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre mim";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <h2 class="text-center">Guilherme Adestro Miralhe - Mil e uma utilidades em Desenvolvimento de SW</h2>
        <p align="center">
            <img src="https://i.imgsafe.org/49/4958e253c2.jpeg" />
        </p>
        <br />
        <h3 class="text-justify"><img src="https://dash.readme.io/img/emojis/zap.png" /> Mini Bio:</h3>
        <hr />
        <p class="text text-justify">
            Resumo meu .COM
        </p>
        <br />
        <h3 class="text-justify"><img src="https://dash.readme.io/img/emojis/floppy-disk.png" /> Informações Pessoais:</h3>
        <hr />
        <dl>
            <dt>Nome: Guilherme Adestro Miralhe</dt>
        </dl>
        <dl>
            <dt>Empresa: <a href="">Sem Empresa</a></dt>
        </dl>
        <dl>
            <dt>Profissão: Analista de Sistemas</dt>
        </dl>
        <dl>
            <dt>Twitter: <a href="https://twitter.com/miralhe" target="_blank">Miralhe</a></dt>
        </dl>
        <dl>
            <dt>Canal do Youtube: <a href="https://www.youtube.com/user/miralhe" target="_blank">Miralhe</a></dt>
        </dl>
        <dl>
            <dt>LinkedIn: <a href="https://www.linkedin.com/in/guilherme-adestro-miralhe-b487201b/" target="_blank">Guilherme Adestro Miralhe</a></dt>
        </dl>
        <dl>
            <dt>GitHub: <a href="https://github.com/miralhe" target="_blank"> </a></dt>
        </dl>
        <dl>
            <dt>Localização: São Paulo - Brasil</dt>
        </dl>
        <br />

        <h3><img src="https://dash.readme.io/img/emojis/clipboard.png" /> Palavras Finais</h3>
        <p class="text-justify">
            Sem mais.
        </p>
    </div>
</div>
