@page
@model ContactModel
@{
    ViewData["Title"] = "Contato - Guilherme Adestro Miralhe";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Entrem em contato comigo!</p>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="https://www.youtube.com/user/miralhe" target="_blank">Youtube</a>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/guilherme-adestro-miralhe-b487201b/" target="_blank">LinkedIn</a>
        <a class="btn btn-primary" href="https://github.com/miralhe" target="_blank">GitHub</a>
        <a class="btn btn-primary" href="https://twitter.com/miralhe" target="_blank">Twitter</a>
        <a class="btn btn-primary" href="http://www.code4coders.wordpress.com" target="_blank">Blog Parceiro</a>
        <!--  target="_blank" => Abre em aba em branco-->
    </div>
</div>

<!-- Codigo gerado via MVC ASP.NET
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->
